<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map_it</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="heroSection.css">
    <link rel="stylesheet" href="main.css">
</head>

<body class="dark-mode">

    <div class="page1">
        <div class="bg">
            <nav>
                <div class="logobox">
                    <a href="/home">
                        <img src="/images/advance.png">
                        <h1 class="logo">Map_it</h1>
                    </a>
                </div>
                <div class="sign">
                    <a href="/login" class="login">Log-in</a>
                    <a href="/signup" class="signup">Sign-Up</a>
                </div>
            </nav>
            <div class="svgg">
                <svg width="1900" height="200" stroke-width="3">
                    <path d="M 20 10 Q 300 10 1500 10" stroke="black" fill="transparent" />
                </svg>
            </div>
            <div class="para">
                <h1>Your Journey To</h1>
                <h1 class="sub-title">Expert Developer</h1>
                <div class="subpara">
                    <p>Follow structured, interactive roadmaps to master any technology. From beginner to</p>
                    <p> expert, we'll guide you every step of the way.</p>
                </div>
                <div class="btns">
                    <form action="/recommend" method="get">
                        <button class="animated-button firstBtn">
                            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>

                            <span class="text">Start Your Journey</span>
                            <span class="circle"></span>
                            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                        </button>
                    </form>

                    <button class="animated-button">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <span class="text">Explore Roadmaps</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>
                </div>

            </div>
            <div class="threeicons">
                <div class="i icon1">
                    <div class="iconImg">
                        <img src="/images/code.png">
                    </div>
                    <h1>50+</h1>
                    <h3>Learning Path</h3>
                </div>
                <div class="i icon2">
                    <div class="iconImg">
                        <img src="/images/roadmap.png">
                    </div>
                    <h1>100+</h1>
                    <h3>Skills Covered</h3>
                </div>
                <div class="i icon3">
                    <div class="iconImg">
                        <img src="/images/group.png">
                    </div>
                    <h1>1000+</h1>
                    <h3>Developers</h3>
                </div>
            </div>

        </div>
    </div>
    <div class="page2">
        <h1 class="search-p">Search for Roadmaps</h1>

        <div id="poda">
            <div class="glow"></div>
            <div class="darkBorderBg"></div>
            <div class="darkBorderBg"></div>
            <div class="darkBorderBg"></div>

            <div class="white"></div>

            <div class="border"></div>

            <div id="main">
                <input placeholder="Search..." type="text" name="text" class="input" />
                <div id="input-mask"></div>
                <div id="pink-mask"></div>
                <div class="filterBorder"></div>
                <div id="filter-icon">
                    <svg preserveAspectRatio="none" height="27" width="27" viewBox="4.8 4.56 14.832 15.408" fill="none">
                        <path
                            d="M8.16 6.65002H15.83C16.47 6.65002 16.99 7.17002 16.99 7.81002V9.09002C16.99 9.56002 16.7 10.14 16.41 10.43L13.91 12.64C13.56 12.93 13.33 13.51 13.33 13.98V16.48C13.33 16.83 13.1 17.29 12.81 17.47L12 17.98C11.24 18.45 10.2 17.92 10.2 16.99V13.91C10.2 13.5 9.97 12.98 9.73 12.69L7.52 10.36C7.23 10.08 7 9.55002 7 9.20002V7.87002C7 7.17002 7.52 6.65002 8.16 6.65002Z"
                            stroke="#d6d6e6" stroke-width="1" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div id="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round" height="24" fill="none"
                        class="feather feather-search">
                        <circle stroke="url(#search)" r="8" cy="11" cx="11"></circle>
                        <line stroke="url(#searchl)" y2="16.65" y1="22" x2="16.65" x1="22"></line>
                        <defs>
                            <linearGradient gradientTransform="rotate(50)" id="search">
                                <stop stop-color="#f8e7f8" offset="0%"></stop>
                                <stop stop-color="#b6a9b7" offset="50%"></stop>
                            </linearGradient>
                            <linearGradient id="searchl">
                                <stop stop-color="#b6a9b7" offset="0%"></stop>
                                <stop stop-color="#837484" offset="50%"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
        <div class="btn-para">
            <p class="describe">Whether you're exploring a career role, building essential skills, or learning through
                real-world
                projects,
                we've got you covered. </p><br>
            <p>Choose your path and start building!</p>

            <div class="radio-inputs">
                <label class="radio">
                    <input type="radio" name="radio" value="role" <%=selectedType==='role' ? 'checked' : '' %> >
                    <span class="name">Role-Based</span>
                </label>
                <label class="radio">
                    <input type="radio" name="radio" value="skill" <%=selectedType==='skill' ? 'checked' : '' %> >
                    <span class="name">Skill-Based</span>
                </label>
                <label class="radio">
                    <input type="radio" name="radio" value="project" <%=selectedType==='project' ? 'checked' : '' %> >
                    <span class="name">Project-Based</span>
                </label>
            </div>
        </div>


        <div class="boxs">
            <% cards.forEach(role=> { %>
                <div class="box">
                    <div class="box-header">
                        <div class="role-icon">
                            <img src="<%= role.iconURL %>">
                        </div>
                        <h2>
                            <%= role.name %>
                        </h2>
                    </div>
                    <div class="idetails">
                        <div class="d detial1"><img src="/images/wall-clock.png">
                            <h4>
                                <%= role.months+ " Months" %>
                            </h4>
                        </div>
                        <div class="d detial2"><img src="/images/group.png">
                            <h4>
                                <%= role.NumUsers %>
                            </h4>
                        </div>
                        <div class="d detial3">
                            <% if (role.for==="Advanced" ) { %>
                                <img src="/images/advance.png">
                                <% } else if (role.for==="Intermediate 🡺 Advanced" ) { %>
                                    <img src="/images/intermediate.png">
                                    <% } else { %>
                                        <img src="/images/beginner.png">
                                        <% } %>


                                            <h4>
                                                <%= role.for %>
                                            </h4>
                        </div>
                    </div>

                    <br><br>
                    <h3>Core Technology:</h3>
                    <div class="core-tech">
                        <% let techs=role.technologies %>
                            <% techs.forEach(tech=> { %>
                                <p>
                                    <%=tech %>
                                </p>
                                <% }) %>
                    </div>

                    <div class="start">
                        <div class="btn">
                            <a class="fancy" onclick="handleRoleClick(event, '<%= role.name %>')">
                                <span class="top-key"></span>
                                <span class="text">Start Learning</span>
                                <span class="bottom-key-1"></span>
                                <span class="bottom-key-2"></span>
                            </a>
                        </div>

                    </div>
                </div>
                <% }) %>
        </div>

    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
        integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"
        integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function handleRoleClick(event, roleName) {
            event.preventDefault();
            localStorage.setItem("selectedRole", roleName);
            window.location.href = "/role"; // This will trigger the GET /role route
        }




        const radios = document.querySelectorAll('.radio-inputs input[type="radio"]');

        // Attach click listener to each radio
        radios.forEach(radio => {
            radio.addEventListener('change', function () {
                const selectedValue = this.value;

                // Set flag to scroll after reload
                localStorage.setItem("scrollToTarget", "true");

                // Redirect to server route
                window.location.href = `/home?type=${selectedValue}`;
            });
        });




        window.addEventListener("DOMContentLoaded", () => {
            // Check flag in localStorage
            if (localStorage.getItem("scrollToTarget") === "true") {

                // Scroll to target id
                const target = document.querySelector(".search-p");
                if (target) {
                    target.scrollIntoView({ behavior: "smooth", block: "start" });
                }

                // Remove flag so it only happens once
                localStorage.removeItem("scrollToTarget");
            }
        });

        //SVG Starts

        let finalPath = "M 20 10 Q 500 10 1500 10";
        let path;

        let svg = document.querySelector(".svgg");


        svg.addEventListener("mousemove", (e) => {
            const rect = svg.getBoundingClientRect();
            const relativeY = e.clientY - rect.top;
            const relativeX = e.clientX - rect.left;

            path = `M 20 10 Q ${relativeX} ${relativeY} 1500 10`;

            gsap.to(".svgg path", {
                attr: { d: path },
                duration: 0.1,
                ease: "power2.inOut",
            });
        });

        svg.addEventListener("mouseleave", (e) => {


            gsap.to(".svgg path", {
                attr: { d: finalPath },
                duration: 1.5,
                ease: "elastic.out(1,0.2)"
            });
        });

        gsap.from(".box", {
            opacity: 0,
            duration: 0.5,
            y: 20,
            stagger: 0.5,
        });

    </script>
</body>

</html>