<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map_it</title>
        <link rel="icon" type="image/png"
            href="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204472/favicon_ntlvzj.png">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/ai.css">
</head>

<body>
    <div class="full">
        <div class="left">
            <video class="bg-video" autoplay muted loop playsinline disablePictureInPicture
                oncontextmenu="return false;">
                <source src="https://res.cloudinary.com/dr1ikaabc/video/upload/v1758208830/Wavy_ld8epb.mp4" type="video/mp4">
                <!-- optional fallback -->
                Your browser does not support the video tag.
            </video>
            <div class="boxInfo">
                <div class="linebar">
                    <div class="s step1">
                        <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204480/hand-drawn_nxbhtn.png">
                        <h2>1</h2>
                    </div>
                    <div class="l line1"></div>
                    <div class="s step2">
                        <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204480/hand-drawn_nxbhtn.png">
                        <h2>2</h2>
                    </div>
                    <div class="l line2"></div>
                    <div class="s step3">
                        <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204480/hand-drawn_nxbhtn.png">
                        <h2>3</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <h1 class="reco">Skills recommended</h1>
            <div class="toprecommends">
                <% for( let i=0; i < recommendedSkills.length; i++ ) { %>
                    <div class="topreco">
                        <h1 class="placed color<%= i+1 %>">
                            <%= i+1 %>
                        </h1>
                        <h2 class="recommended place<%= i %>">
                            <%= recommendedSkills[i] %>
                        </h2>
                    </div>
                    <% } %>

            </div>

            <h1 class="road-title">Roadmaps</h1>
            <div class="road">

                <div class="boxs">
                    <div class="box">
                        <div class="box-header">
                            <div class="role-icon">
                                <img src="<%= skill1Card.iconURL %>">
                            </div>
                            <h2>
                                <%= skill1Card.name %>
                            </h2>
                        </div>
                        <div class="idetails">
                            <div class="d detial1"><img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204504/wall-clock_ryep1n.png">
                                <h4>
                                    <%= skill1Card.months+ " Months" %>
                                </h4>
                            </div>
                            <div class="d detial2"><img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204479/group_obnpq0.png">
                                <h4>
                                    <%= skill1Card.NumUsers %>
                                </h4>
                            </div>
                            <div class="d detial3">
                                <% if (skill1Card.for==="Advanced" ) { %>
                                    <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204447/advance_yofya6.png">
                                    <% } else if (skill1Card.for==="Intermediate 🡺 Advanced" ) { %>
                                        <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204483/intermediate_a5wev5.png">
                                        <% } else { %>
                                            <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204454/beginner_lxpzqa.png">
                                            <% } %>


                                                <h4>
                                                    <%= skill1Card.for %>
                                                </h4>
                            </div>
                        </div>

                        <br><br>
                        <h3>Core Technology:</h3>
                        <div class="core-tech">
                            <% let techs1=skill1Card.technologies %>
                                <% techs1.forEach(tech=> { %>
                                    <p>
                                        <%=tech %>
                                    </p>
                                    <% }) %>
                        </div>

                        <div class="start">
                            <div class="btn">
                                <a class="fancy" onclick="handleRoleClick1(event, '<%= skill1Card.name %>')">
                                    <span class="top-key"></span>
                                    <span class="text">Start Learning</span>
                                    <span class="bottom-key-1"></span>
                                    <span class="bottom-key-2"></span>
                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="box">
                        <div class="box-header">
                            <div class="role-icon">
                                <img src="<%= skill2Card.iconURL %>">
                            </div>
                            <h2>
                                <%= skill2Card.name %>
                            </h2>
                        </div>
                        <div class="idetails">
                            <div class="d detial1"><img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204504/wall-clock_ryep1n.png">
                                <h4>
                                    <%= skill2Card.months+ " Months" %>
                                </h4>
                            </div>
                            <div class="d detial2"><img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204479/group_obnpq0.png">
                                <h4>
                                    <%= skill2Card.NumUsers %>
                                </h4>
                            </div>
                            <div class="d detial3">
                                <% if (skill2Card.for==="Advanced" ) { %>
                                    <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204447/advance_yofya6.png">
                                    <% } else if (skill2Card.for==="Intermediate 🡺 Advanced" ) { %>
                                        <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204483/intermediate_a5wev5.png">
                                        <% } else { %>
                                            <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204454/beginner_lxpzqa.png">
                                            <% } %>


                                                <h4>
                                                    <%= skill2Card.for %>
                                                </h4>
                            </div>
                        </div>

                        <br><br>
                        <h3>Core Technology:</h3>
                        <div class="core-tech">
                            <% let techs2=skill2Card.technologies %>
                                <% techs2.forEach(tech=> { %>
                                    <p>
                                        <%=tech %>
                                    </p>
                                    <% }) %>
                        </div>

                        <div class="start">
                            <div class="btn">
                                <a class="fancy" onclick="handleRoleClick2(event, '<%= skill2Card.name %>')">
                                    <span class="top-key"></span>
                                    <span class="text">Start Learning</span>
                                    <span class="bottom-key-1"></span>
                                    <span class="bottom-key-2"></span>
                                </a>
                            </div>

                        </div>
                    </div>



                    <div class="box">
                        <div class="box-header">
                            <div class="role-icon">
                                <img src="<%= skill3Card.iconURL %>">
                            </div>
                            <h2>
                                <%= skill3Card.name %>
                            </h2>
                        </div>
                        <div class="idetails">
                            <div class="d detial1"><img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204504/wall-clock_ryep1n.png">
                                <h4>
                                    <%= skill3Card.months+ " Months" %>
                                </h4>
                            </div>
                            <div class="d detial2"><img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204479/group_obnpq0.png">
                                <h4>
                                    <%= skill3Card.NumUsers %>
                                </h4>
                            </div>
                            <div class="d detial3">
                                <% if (skill3Card.for==="Advanced" ) { %>
                                    <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204447/advance_yofya6.png">
                                    <% } else if (skill3Card.for==="Intermediate 🡺 Advanced" ) { %>
                                        <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204483/intermediate_a5wev5.png">
                                        <% } else { %>
                                            <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204454/beginner_lxpzqa.png">
                                            <% } %>


                                                <h4>
                                                    <%= skill3Card.for %>
                                                </h4>
                            </div>
                        </div>

                        <br><br>
                        <h3>Core Technology:</h3>
                        <div class="core-tech">
                            <% let techs3=skill3Card.technologies %>
                                <% techs3.forEach(tech=> { %>
                                    <p>
                                        <%=tech %>
                                    </p>
                                    <% }) %>
                        </div>

                        <div class="start">
                            <div class="btn">
                                <a class="fancy" onclick="handleRoleClick3(event, '<%= skill3Card.name %>')">
                                    <span class="top-key"></span>
                                    <span class="text">Start Learning</span>
                                    <span class="bottom-key-1"></span>
                                    <span class="bottom-key-2"></span>
                                </a>
                            </div>

                        </div>
                    </div>





                </div>

            </div>


            <% if (success_msg) { %>
                <p class="success">
                    <%= success_msg %>
                </p>
                <% } %>
                    <% if (error_msg) { %>
                        <p class="error">
                            <%= error_msg %>
                        </p>
                        <% } %>


                            <div class="backHome">
                                <a href="/home">
                                    <img src="https://res.cloudinary.com/dr1ikaabc/image/upload/v1758204483/Home_icon_orange_fj1oh3.png" alt="Home">
                                    <h3>Back Home</h3>
                                </a>
                            </div>

        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
        integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"
        integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        function handleRoleClick1(event, roleName) {
            event.preventDefault();
            localStorage.setItem("selectedRole", roleName);
            window.location.href = "/role"; // This will trigger the GET /role route
        }

        function handleRoleClick2(event, roleName) {
            event.preventDefault();
            localStorage.setItem("selectedRole", roleName);
            window.location.href = "/role"; // This will trigger the GET /role route
        }
        function handleRoleClick3(event, roleName) {
            event.preventDefault();
            localStorage.setItem("selectedRole", roleName);
            window.location.href = "/role"; // This will trigger the GET /role route
        }
    </script>
</body>

</html>